body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  background-image: url("../images/bg-image.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  font-family: Arial, sans-serif;
}

.calculator {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.display {
  background: #222;
  color: #fff;
  font-size: 2rem;
  text-align: right;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  background: #1D5079;

  color: #fff;
  border: none;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #0056b3;
}

.btn[data-action="clear"] {
  background: #e74c3c;
}

.btn[data-action="delete"] {
  background: #F2C140;
}

.btn[data-action="equals"] {
  background: #27ae60;
}
